@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: cover;
  

}