@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    color:white;
  

}
.home{
    color:white;
    margin-top: 10%;
}
h1{
    font-size: 60px;
    font-weight: 900;
}

.home p{
    font-weight: 900px;
    font-style: italics;
}

li{
    list-style: none;
    
}

a{
    color: black;
}

.login{
    margin-top: 5%;
}

.login a {
    color:white;
}