@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background-color:#130f40;
    background-size: cover;
    
  

}

h2{
    color:white;
    
}

.home{
    margin-top:5%;
}

.home p{
    font-weight: 900px;
    font-style: italics;
}

li{
    list-style: none;
    
}

a{
    color: black;
}

h5 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
  }

.bio{
    border:solid;
    border-color:black;

}

.profile,.new_pitch{
    margin-top:5%;
    color:white;
}

.profile h2{
    margin-bottom: 5%;
}

