{% macro showPitch(pitches) %} 
   {% for pitch in pitches %}


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"  id='pitch'>
        <div class="card">
            <div class="card-header" >
                <b>{{pitch.category}}</b>
            </div>
            <div class="card-body">
                
                <p class="card-text">
                    <i>{{pitch.content}}</i>
                </p>
            </div>
            <ul>
                <li>~ {{pitch.author}}
                    <a href="">
                        <p>Vote Up </p>
                    </a>&ensp;
                    <a href="">
                            <p>Vote Down </p>
                    </a>&ensp;
                    
                </li>
                <li class="list-group-item">{{pitch.date_posted}}</li>
                <li class="list-group-item" style="background-color: whitesmoke;">
                    <a href="{{url_for('main.new_pitch')}}" class="new_pitch">
                        <span id="new_pitch">Click to create a new Pitch
                            <span>
                    </a>
                </li>
            </ul>
        </div>

        </div>

    </div>
</div>

{% endfor %} 
{% endmacro %} 

