<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="#">Pitches</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul>
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            
        </ul>
        
    </div>
    

    
    <ul class="nav navbar-nav navbar-right">
           
        <!-- <li class="nav-item active">
        
            <a class="nav-link" href="{{url_for('main.pickup')}}">Pickup Lines<span class="sr-only">(current)</span></a>
            
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.interview')}}"">Interview<span class="sr-only"></span></a>    
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.promotion')}}"">Promotion<span class="sr-only"></span></a>    
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.product')}}"">Product<span class="sr-only"></span></a>    
        </li> -->


        {% if current_user.is_authenticated and current_user.profile_img is none %}
        <span class="nav-item"><a href="{{url_for('main.profile',username=current_user.username)}}"><img src="{{url_for('static', filename = 'images/default.jpg')}}" alt="" style= "width:5%;height:8%;margin-right:50%;" ></a></span>
        <li class="nav-item">
             <span class="nav-item"><a href="{{url_for('main.profile',username=current_user.username)}}"><img src="{{url_for('static', filename = 'images/default.jpg')}}" alt="" style= "width:5%;height:8%;margin-right:50%;" ></a></span>

            <a class="nav-link" href="{{url_for('main.profile',username=current_user.username)}}">{{current_user.username}}</a>
        </li> 
             
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('auth.signout')}}">Sign Out</a><span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.profile',username=current_user.username)}}">Account</a><span class="sr-only"></span></a>
        </li>
        {% elif current_user.is_authenticated and current_user.profile_img is not none %}
        <span class="nav-item"><a href="{{url_for('main.profile',username=current_user.username)}}"><img src="{{url_for('static', filename = current_user.profile_pic_path)}}" alt="" ></a></span>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.profile',username=current_user.username)}}">{{current_user.username}}</a>
        </li> 
             
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('auth.signout')}}">Sign Out</a><span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.profile')}}">Account</a><span class="sr-only"></span></a>
        </li>
        {%else%}          
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('auth.login')}}">Sign in<span class="sr-only"></span></a>
        </li>
        {%endif%}
    </ul>
    </div>
</nav>
