{% extends 'base.html'%}


{% block content %}
{{super()}}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <div class="card" style="width: 18rem;">
            {% if user.profile_img %}   
                <img src="{{url_for('static', filename = user.profile_pic_path)}}" class="card-img-top" alt="...">
            {% else %}
                <img src="{{url_for('static', filename = 'images/default.png')}}" alt="" class="card-img-top">

            {% endif %} 
            {% if user == current_user %}
            <div class="card-body">
                <h5 class="card-title">Your Bio</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ current_user.username }}</li>
                <li class="list-group-item">{{ current_user.email }}</li>
            {%endif%}
                {% if current_user.bio %}
                <li class="list-group-item">{{ current_user.bio }}</li>
                {% else %}
                <li class="list-group-item">{{ current_user.username| capitalize }}</li>
                {% endif %} 
                {% if user == current_user %}
                <a href="{{url_for('main.update_profile_pic', username = user.username)}}">Edit Profile</a>
                {% endif %}
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
            </div>

        </div>
        <div class="col-md-2"></div>


    </div>

</div>
{% endblock %}

