{% extends 'base.html'%}


{% block content %}
{{super()}}
<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            
            
            {% if user.profile_img %}
             <div class="col-md-2">
                    <img src="{{url_for('static', filename = user.profile_pic_path)}}"  alt="profile image" style= "width:auto;height:50%;"   class="img-rounded img-responsive">
             </div>  
             
               
            {% else %}
            <div class="col-md-2">
                    <img src="{{url_for('static', filename = 'images/default.jpg')}}" alt="" style= "width:auto;height:50%;"  class="img-rounded img-responsive" >
            </div>
                

            {% endif %} 
            {% if user == current_user %}
            <div class="col-md-8">
                <h5 class="textcenter">Your Bio</h5>
                
            
                <ul >
                    <li ><{{ current_user.username }}</li>
                    <li > Email : {{ current_user.email }}</li>
                {%endif%}
                    {% if current_user.bio %}
                    <li> Bio {{ current_user.bio }}</li>
                    {% else %}
                    <li>{{ current_user.username| capitalize }}</li>
                    {% endif %} 
                    {% if user == current_user %}
                        <a href="{{url_for('main.update_profile',username=user.username)}}">Edit profile</a>
                    {% endif %}
                </ul>
            
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
           
            </div>

        </div>
        


    </div>

</div>
{% endblock %}

